.fullscreen-bg__video {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
  top: 0px;
  right: 0px;
  left: 0px;
}

.container {
  display: flex;
}

.banner {
  justify-content: center;
  background-color: #fff;
  background-color: rgba(184, 44, 212, 0.5);
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
}

h3#banner {
  font-family: "Dancing Script", sans-serif;
  font-size: 50px;
  color: rgb(6, 5, 12);
  text-align: center;
}

.card {
  margin-top: 11px;
  margin-left: 8px;
}

.name {
  margin-right: 5px;
}

.btn {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: baseline;
  background-size: contain;
  border-radius: 10px;
  margin: 100px 0px 0px 0px;
  background-color: #fff;
  background-color: rgba(120, 64, 131, 0.5);
}

button {
  font-size: 40px;
  height: 160px;
  width: 170px;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: 20px;
  padding: 0px 30px 0px 0px;
  text-align: center;
  word-spacing: 0px;
}

.names {
  display: flex;
  flex-wrap: wrap;
}

button#namjoon {
  background-image: url("./bts-gifs/rm.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#seokjin {
  background-image: url("./bts-gifs/jin.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#yoongi {
  background-image: url("./bts-gifs/suga.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#hoseok {
  background-image: url("./bts-gifs/hope.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#jimin {
  background-image: url("./bts-gifs/jimin.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#taehyung {
  background-image: url("./bts-gifs/v.jpg");
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}

button#jungkook {
  background-image: url("./bts-gifs/jk.gif");
  background-size: cover;
  background-position: center;
  /* position: absolute; */
}
